.body {
    font-family: Arial, Helvetica, sans-serif;
}

.Header {
    line-height: 5%;
    overflow: hidden;
}

.Header img {
    float: right;
    width: 300px;
    height: 100px
}

.Remitente {
    float: left;
}

.Datos1 {
    overflow: hidden;
    line-height: 5%;
    padding-top: 15px;
}

.Comprador {
    float: left;
}

.DatosFactura {
    float: right;
    padding-right: 240px;
}

.Productos {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

.Productos th,
.Productos td {
    border: 1px solid #000;
    padding: 5px;
    text-align: center;
}

.Total {
    line-height: 5%;
}

.Datos2 {
    padding-top: 20px;
}

.DatosDelPago {
    padding-top: 15px;
}
